In [44]:
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import pandas as pd

In [45]:
# let's find the data sets we want to use

In [46]:
# Boulder Observational Site: https://mesonet.agron.iastate.edu/request/download.phtml?network=CO_ASOS

In [47]:
#upload all station data
df = pd.read_csv("asos.csv", low_memory=False)

In [48]:
#check features
df.describe()

,tmpf,dwpf,relh,drct,sknt,p01i,alti,mslp,vsby,gust,...,skyl2,skyl3,skyl4,ice_accretion_1hr,ice_accretion_3hr,ice_accretion_6hr,peak_wind_gust,peak_wind_drct,feel,snowdepth
count,1.256341e+06,1.256325e+06,1.255884e+06,1.243739e+06,1.249103e+06,1.181640e+06,1.260007e+06,0.0,1.245976e+06,197980.000000,...,214795.000000,88628.000000,46.000000,0.0,0.0,0.0,1.0,1.0,1.247128e+06,0.0
mean,4.775593e+01,2.724579e+01,5.241679e+01,1.475171e+02,5.032810e+00,4.732744e-04,3.008098e+01,NaN,1.059711e+01,23.150602,...,6842.078726,7456.182019,14693.478261,NaN,NaN,NaN,51.0,140.0,4.532482e+01,NaN
std,2.075410e+01,1.584644e+01,2.524542e+01,1.291551e+02,5.426301e+00,1.035951e-02,2.435012e-01,NaN,5.366979e+01,8.350529,...,5086.177559,4732.684238,6115.459542,NaN,NaN,NaN,NaN,NaN,2.283644e+01,NaN
min,-2.340000e+01,-2.686000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.910000e+00,NaN,0.000000e+00,2.000000,...,100.000000,400.000000,1800.000000,NaN,NaN,NaN,51.0,140.0,-4.212000e+01,NaN
25%,3.200000e+01,1.600000e+01,3.077000e+01,0.000000e+00,0.000000e+00,0.000000e+00,2.994000e+01,NaN,1.000000e+01,17.000000,...,2800.000000,4100.000000,10250.000000,NaN,NaN,NaN,51.0,140.0,2.869000e+01,NaN
50%,4.770000e+01,2.660000e+01,5.075000e+01,1.400000e+02,4.000000e+00,0.000000e+00,3.009000e+01,NaN,1.000000e+01,21.000000,...,5500.000000,6500.000000,16000.000000,NaN,NaN,NaN,51.0,140.0,4.590000e+01,NaN
75%,6.260000e+01,3.920000e+01,7.408000e+01,2.700000e+02,7.000000e+00,0.000000e+00,3.022000e+01,NaN,1.000000e+01,27.000000,...,10000.000000,10000.000000,20000.000000,NaN,NaN,NaN,51.0,140.0,6.260000e+01,NaN
max,1.490000e+02,6.980000e+01,1.000000e+02,3.600000e+02,7.470000e+02,4.010000e+00,9.963000e+01,NaN,3.400600e+04,525.000000,...,220000.000000,200200.000000,22000.000000,NaN,NaN,NaN,51.0,140.0,1.152700e+02,NaN

In [49]:
#drop features with low count

df.drop(['mslp', 'ice_accretion_1hr', 'ice_accretion_3hr', 'ice_accretion_6hr', 'snowdepth', 'metar', 'peak_wind_gust', 'peak_wind_drct'], axis=1, inplace=True)

In [50]:
#fix date time

df['date'] = pd.to_datetime(df['valid'])
df.drop(['valid'], axis=1, inplace=True)

,station,tmpf,dwpf,relh,drct,sknt,p01i,alti,vsby,gust,...,skyc3,skyc4,skyl1,skyl2,skyl3,skyl4,wxcodes,peak_wind_time,feel,date
0,BJC,24.8,5.0,42.11,140.0,6.0,NaN,30.12,20.0,NaN,...,,,4000.0,12000.0,NaN,NaN,NaN,NaN,16.86,2010-01-01 05:53:00
1,BJC,28.4,6.8,39.39,0.0,0.0,NaN,30.16,70.0,NaN,...,SCT,,4000.0,10000.0,20000.0,NaN,NaN,NaN,28.40,2010-01-01 07:49:00
2,BJC,28.4,8.6,42.73,70.0,5.0,NaN,30.16,70.0,NaN,...,,,4000.0,20000.0,NaN,NaN,NaN,NaN,22.12,2010-01-01 08:45:00
3,BJC,28.4,10.4,46.32,350.0,8.0,NaN,30.20,70.0,NaN,...,,,4000.0,20000.0,NaN,NaN,NaN,NaN,19.68,2010-01-01 09:50:00
4,BJC,32.0,14.0,46.92,NaN,5.0,NaN,30.21,50.0,NaN,...,SCT,,4000.0,12000.0,20000.0,NaN,NaN,NaN,26.40,2010-01-01 10:55:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1264659,C99,24.8,21.2,85.96,300.0,35.0,0.0,29.70,5.0,58.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.68,2025-01-10 23:50:00
1264660,BJC,39.2,21.2,48.10,160.0,10.0,0.0,29.65,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,32.00,2025-01-10 23:55:00
1264661,LMO,33.6,22.0,62.07,300.0,3.0,0.0,29.64,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.52,2025-01-10 23:55:00
1264662,GNB,14.0,6.6,71.87,0.0,0.0,0.0,29.97,10.0,NaN,...,NaN,NaN,3800.0,NaN,NaN,NaN,NaN,NaN,14.00,2025-01-10 23:55:00
1264663,BDU,46.4,23.0,39.36,110.0,5.0,0.0,29.62,10.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.50,2025-01-10 23:55:00

In [14]:
#seperate into stations
print(df['station'].unique())

#bjc
df_bjc = df[df['station']=='BJC']
df_bjc.reindex()
df_bjc.drop(['station'], axis=1, inplace=True)

#bdu
df_bdu = df[df['station']=='BDU']
df_bdu.drop(['station'], axis=1, inplace=True)

#lmo
df_lmo = df[df['station']=='LMO']
df_lmo.drop(['station'], axis=1, inplace=True)

#gnb
df_gnb = df[df['station']=='GNB']
df_gnb.drop(['station'], axis=1, inplace=True)

#c99
df_c99 = df[df['station']=='C99']
df_c99.drop(['station'], axis=1, inplace=True)

del df

['BJC' 'BDU' 'LMO' 'GNB' 'C99']

/var/folders/l5/7h6z_dtn5yq32_cn1k36l3h00000gn/T/ipykernel_4300/126203650.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bjc.drop(['station'], axis=1, inplace=True)
/var/folders/l5/7h6z_dtn5yq32_cn1k36l3h00000gn/T/ipykernel_4300/126203650.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_bdu.drop(['station'], axis=1, inplace=True)
/var/folders/l5/7h6z_dtn5yq32_cn1k36l3h00000gn/T/ipykernel_4300/126203650.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_lmo.drop(['station'], axis=1, inplace=True)
/var/folders/l5/7h6z_dtn5yq32_cn1k36l3h00000gn/T/ipykernel_4300/126203650.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_gnb.drop(['station'], axis=1, inplace=True)
/var/folders/l5/7h6z_dtn5yq32_cn1k36l3h00000gn/T/ipykernel_4300/126203650.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_c99.drop(['station'], axis=1, inplace=True)

In [67]:
#lets take a look at when strong winds are happening

count = (df_bjc['sknt'] > 35).sum()
perc = count/len(df_bjc) * 100
print('bjc', ':',count, perc)

count = (df_bdu['sknt'] > 35).sum()
perc = count/len(df_bdu) * 100
print('bdu', ':',count, perc)

count = (df_lmo['sknt'] > 35).sum()
perc = count/len(df_lmo) * 100
print('lmo', ':',count, perc)

count = (df_gnb['sknt'] > 35 or df_gnb['gust'] > 35).sum()
perc = count/len(df_gnb) * 100
print('gnb', ':',count, perc)

count = (df_c99['sknt'] > 35).sum()
perc = count/len(df_c99) * 100
print('c99', ':',count, perc)

bjc : 319 0.1482514232601371
bdu : 116 0.030709684934516892
lmo : 22 0.006414312079607444

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [16]:
df_bd = pd.read_csv("BDU.csv")
print(df_bd.columns)
df_bd.iloc[0]

Index(['station', 'valid', 'tmpf', 'dwpf', 'relh', 'drct', 'sknt', 'p01i',
       'alti', 'mslp', 'vsby', 'gust', 'skyc1', 'skyc2', 'skyc3', 'skyc4',
       'skyl1', 'skyl2', 'skyl3', 'skyl4', 'wxcodes', 'ice_accretion_1hr',
       'ice_accretion_3hr', 'ice_accretion_6hr', 'peak_wind_gust',
       'peak_wind_drct', 'peak_wind_time', 'feel', 'metar', 'snowdepth'],
      dtype='object')

/var/folders/l5/7h6z_dtn5yq32_cn1k36l3h00000gn/T/ipykernel_4300/3265349902.py:1: DtypeWarning: Columns (2,3,4,5,6,7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  df_bd = pd.read_csv("BDU.csv")

station                                                            BDU
valid                                                 2010-06-14 17:01
tmpf                                                             53.60
dwpf                                                             50.00
relh                                                             87.56
drct                                                              0.00
sknt                                                              0.00
p01i                                                                 M
alti                                                             30.14
mslp                                                                 M
vsby                                                             10.00
gust                                                                 M
skyc1                                                              SCT
skyc2                                                              SCT
skyc3                                                              OVC
skyc4                                                                M
skyl1                                                          3100.00
skyl2                                                          3800.00
skyl3                                                          5000.00
skyl4                                                                M
wxcodes                                                            -RA
ice_accretion_1hr                                                    M
ice_accretion_3hr                                                    M
ice_accretion_6hr                                                    M
peak_wind_gust                                                       M
peak_wind_drct                                                       M
peak_wind_time                                                       M
feel                                                             53.60
metar                KBDU 141701Z AUTO 00000KT 10SM -RA SCT031 SCT0...
snowdepth                                                            M
Name: 0, dtype: object

In [17]:
num_col = ['tmpf', 'dwpf', 'relh', 'drct', 'sknt', 'alti', 'vsby', 'skyl1', 'skyl2', 'skyl3', 'feel']

for col in num_col:
    df_bd[col] = pd.to_numeric(df_bd[col], errors='coerce')

In [18]:
col_to_keep = [col for col in df_bd.columns if df_bd[col].nunique() < 2]

df_bd.drop(col_to_keep, axis=1, inplace=True)
df_bd.drop(['metar'], axis=1, inplace=True)

In [19]:
df_bd["valid"] = pd.to_datetime(df_bd["valid"])  
df_bd['valid'] = df_bd['valid'].dt.date

In [20]:
agg_dict = {col: ['mean', 'min', 'max'] for col in num_col}

In [21]:
df = df_bd.groupby('valid').agg(agg_dict)
df.columns = ['_'.join(col) for col in df.columns]

In [22]:
#categorical_df = pd.get_dummies(df[categorical_columns], prefix=categorical_columns)

In [23]:
df.columns

Index(['tmpf_mean', 'tmpf_min', 'tmpf_max', 'dwpf_mean', 'dwpf_min',
       'dwpf_max', 'relh_mean', 'relh_min', 'relh_max', 'drct_mean',
       'drct_min', 'drct_max', 'sknt_mean', 'sknt_min', 'sknt_max',
       'alti_mean', 'alti_min', 'alti_max', 'vsby_mean', 'vsby_min',
       'vsby_max', 'skyl1_mean', 'skyl1_min', 'skyl1_max', 'skyl2_mean',
       'skyl2_min', 'skyl2_max', 'skyl3_mean', 'skyl3_min', 'skyl3_max',
       'feel_mean', 'feel_min', 'feel_max'],
      dtype='object')

In [24]:
df['sknt_max'][df['sknt_max'] > 40].count()

9

In [25]:
df_bd['sknt'].describe()

count    370343.000000
mean          4.029078
std           4.333677
min           0.000000
25%           0.000000
50%           3.000000
75%           5.000000
max          53.000000
Name: sknt, dtype: float64

In [26]:
df['sknt_max'][df['sknt_max'] > 35].count()

42

In [27]:
50/5500 * 100

0.9090909090909091

In [28]:
df_bd['peak_wind_gust'].describe()

KeyError: 'peak_wind_gust'

In [ ]:
df = pd.read_csv("asos.csv")

In [ ]:
# NCAR Mesa Lab: https://archive.eol.ucar.edu/cgi-bin/weather.cgi?site=ml&units=english

In [ ]:
# ERA5 CDSAPI download package: https://confluence.ecmwf.int/display/CKB/Please+read%3A+CDS+and+ADS+migrating+to+new+infrastructure%3A+Common+Data+Store+%28CDS%29+Engine

In [ ]:
# ERA5 single-level variables: https://cds-beta.climate.copernicus.eu/datasets/reanalysis-era5-single-levels?tab=download

In [ ]:
# ERA5 pressure-level variables: https://cds-beta.climate.copernicus.eu/datasets/reanalysis-era5-pressure-levels?tab=overview